<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>josieexplosion0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,385}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{385,385}</string>
				<key>spriteSourceSize</key>
				<string>{385,385}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{385,385}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josieexplosion0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,385}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{385,385}</string>
				<key>spriteSourceSize</key>
				<string>{385,385}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{385,0},{385,385}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josieexplosion0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,385}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{385,385}</string>
				<key>spriteSourceSize</key>
				<string>{385,385}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,385},{385,385}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josieexplosion0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,385}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{385,385}</string>
				<key>spriteSourceSize</key>
				<string>{385,385}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{385,385},{385,385}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josieexplosion0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,385}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{385,385}</string>
				<key>spriteSourceSize</key>
				<string>{385,385}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,770},{385,385}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josieexplosion0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,384}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{384,384}</string>
				<key>spriteSourceSize</key>
				<string>{384,384}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{385,770},{384,384}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josieexplosion0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,384}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{384,384}</string>
				<key>spriteSourceSize</key>
				<string>{384,384}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1155},{384,384}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josieexplosion0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,384}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{384,384}</string>
				<key>spriteSourceSize</key>
				<string>{384,384}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,1155},{384,384}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josieexplosion0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,384}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{384,384}</string>
				<key>spriteSourceSize</key>
				<string>{384,384}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1539},{384,384}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josieexplosion0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,384}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{384,384}</string>
				<key>spriteSourceSize</key>
				<string>{384,384}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,1539},{384,384}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>josieexplosion.png</string>
				<key>textureFileName</key>
				<string>josieexplosion</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
