<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>josiejump0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,6},{216,256}}</string>
				<key>spriteOffset</key>
				<string>{-1,-4}</string>
				<key>spriteSize</key>
				<string>{218,262}</string>
				<key>spriteSourceSize</key>
				<string>{216,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{216,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josiejump0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,6},{216,256}}</string>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{218,262}</string>
				<key>spriteSourceSize</key>
				<string>{216,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{216,0},{216,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josiejump0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,6},{216,256}}</string>
				<key>spriteOffset</key>
				<string>{0,-6}</string>
				<key>spriteSize</key>
				<string>{218,262}</string>
				<key>spriteSourceSize</key>
				<string>{216,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,256},{216,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josiejump0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,6},{216,256}}</string>
				<key>spriteOffset</key>
				<string>{-2,-1}</string>
				<key>spriteSize</key>
				<string>{218,262}</string>
				<key>spriteSourceSize</key>
				<string>{216,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{216,256},{216,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josiejump0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,6},{216,256}}</string>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{218,262}</string>
				<key>spriteSourceSize</key>
				<string>{216,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,512},{216,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>josiejump0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,6},{216,256}}</string>
				<key>spriteOffset</key>
				<string>{-1,-3}</string>
				<key>spriteSize</key>
				<string>{218,262}</string>
				<key>spriteSourceSize</key>
				<string>{216,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{216,512},{216,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{432,770}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>josiejump.png</string>
				<key>textureFileName</key>
				<string>josiejump</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
