
### Android ###
# Built application files
*.apk
*.ap_

proj.android/bin/*
proj.android/obj/*
proj.android/cocos2d/*
proj.android/jni/Anrdroid.mk
proj.android/libs/armeabi/*
proj.android/assets/*
proj.android/.cproject
bin/*

